.address-card {
  padding-top: 20px;
  padding-bottom: 20px;

  p {
    line-height: 20px;

    @media (min-width: 321px) and (max-width: $mobile-width-only) {
      width: 140px;
      text-align: right;
    }

    @media (min-width: 700px) {
      width: 160px;
      text-align: right;
    }

    @media (min-width: $sm-desktop-width) {
      width: 180px;
    }
  }

  @media (min-width: 700px) {
    grid-area: 1/2 span;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  @media (min-width: 820px) {
    @include padding-m-l;
  }

  @media (min-width: $sm-desktop-width) {
    grid-area: 1/1 span;
    width: 450px;
    margin-left: 60px;
    column-gap: 80px;
    padding-top: 40px;
    @include padding-l;
    background-color: $basic_white;
  }

  @media (min-width: 1300px) {
    margin-left: 100px;
  }

  @media (min-width: 1440px) {
    margin-left: 110px;
  }
}

