.base-info-list {
  @include reset-list;
}

.base-info-list__item {
  display: grid;
  @include font-family-headline;
  font-size: 16px;
  text-transform: uppercase;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 18px;
  }

  @media (min-width: $xl-width) {
    width: 569px;
  }

  &:nth-child(1) {
    grid-template-columns: 15% 80%;

    @media (min-width: $sm-tablet-width) {
      grid-template-columns: 10% 88%;
    }

    @media (min-width: $tablet-width) {
      grid-template-columns: 10% 89%;
    }

    @media (min-width: $sm-desktop-width) {
      grid-template-columns: 10% 85%;
    }
  }

  &:nth-child(2) {
    grid-template-columns: 25% 72%;

    @media (min-width: $sm-tablet-width) {
      grid-template-columns: 17% 83%;
    }

    @media (min-width: $tablet-width) {
      grid-template-columns: 15% 85%;
    }

    @media (min-width: $sm-desktop-width) {
      grid-template-columns: 18% 79%;
    }
  }

  &:nth-child(3) {
    grid-template-columns: 35% 62%;
    margin-bottom: 0;

    @media (min-width: $sm-tablet-width) {
      grid-template-columns: 23% 76%;
    }

    @media (min-width: $tablet-width) {
      grid-template-columns: 20% 78%;
    }

    @media (min-width: $sm-desktop-width) {
      grid-template-columns: 28% 69%;
    }
  }
}

.base-info-list__input {
  padding: 13px;
  text-transform: uppercase;
  border: 1px solid $special_light-grey;
  border-radius: 0;
  outline: transparent;

  &:hover {
    border: 1px solid $special_grey;
  }

  &:focus {
    border: 1px solid $special_dark-grey;
  }

  @media (min-width: $tablet-width) {
    padding: 10px;
  }
}
