.cat-weight-results p {
  @include margin-h-reset;
}

.cat-weight-results__list {
  display: grid;
  @include reset-list;
  margin-top: 25px;
  grid-template-columns: 124px 124px;
  column-gap: 32px;
  row-gap: 20px;
}
