.container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  min-width: 100%;
  @include centration;
  z-index: 3;

  @media (min-width: $tablet-width) {
    min-width: $tablet-width;
    grid-template-columns: 1fr 2fr;
  }

  @media (min-width: $sm-desktop-width) {
    min-width: $sm-desktop-width;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr;
   /* min-width: 100%;*/
  }

  @media (min-width: 1540px) {
    grid-template-columns: 1440px;
    max-width: 1440px;
    justify-content: center;
  }
}

.container_main-header-theme {

  @media (min-width: $sm-desktop-width) {
    grid-template-columns: 1fr;
  }
}

.container_cat-weight-theme {

  @media (min-width: $sm-desktop-width) {
    grid-template-columns: 45% 55%;
    grid-template-rows: 1fr 2fr auto;
  }

  @media (min-width: 1100px) {
    grid-template-columns: 41% 59%;
  }

  @media (min-width: 1540px) {
    min-width: 100%;
    grid-template-columns: 720px 720px;

    &::before {
      content: "";
      position: absolute;
      top: 30%;
      bottom: 0;
      right: 0;
      width: 30.5%;
      background-image: linear-gradient($basic-transparent 7%, $basic-light-grey-2 7%, $basic-light-grey-2 100%);
    }
  }

}

.container_additives-theme {
  display: grid;
  grid-auto-rows: auto;
  padding-top: 36px;
  padding-bottom: 41px;

  @media (max-width: $mobile-width) {
    grid-template-columns: 1fr;
  }

  @media (min-width: $sm-desktop-width) {
    grid-template-columns: 70% 25%;
    grid-template-rows: auto;
  }

}

.container_address-card-theme {

  @media (min-width: $sm-desktop-width) {
    grid-area: 1/1/1/1;
    grid-template-rows: 201px;
    @include padding-hor-reset;
    padding-top: 95px;
    background-color: transparent;
  }
}

.container_program-main {
  grid-area: 1/1/1/1;
  z-index: 1;

  p {
    @include margin-h-reset;
    margin-top: 37px;
    margin-bottom: 39px;
    @include font-family-headline;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: $basic_black;
  }
}

.container_main-footer-theme {

  @media (min-width: 0) and (max-width: $sm-tablet-width) {
    grid-template-columns: 1fr;
  }

  @media (min-width: 700px) {
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  @media (min-width: 1540px) {
    grid-template-columns: 400px 400px 400px;
  }
}
