.filter-info {
  @include reset-list;

  @media (min-width: $tablet-width) {
    padding-top: 25px;
    padding-left: 28px;
    padding-bottom: 25px;
    border: 1px solid $special_light-grey;
    border-left: 1px solid $special_light-grey;
  }
}

.filter-info__item {
  padding-left: 45px;
  margin-bottom: 25px;
  @include font-family-headline;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    margin-left: 20px;
    font-size: 20px;
    line-height: 30px;
  }
}
