.main-header {
  grid-row: 1;
  grid-column: 1;
  position: relative;
  display: grid;
  max-width: 100%;
  min-height: 65px;
  background-color: $basic_white;

  @media (min-width: $sm-desktop-width) {
    grid-template-rows: 30vh 62vh;
  }

  @media (min-width: 1440px) {
    position: relative;
    grid-area: 1/1/2/2;
    width: 100%;
    height: 82vh;
    background-image: url(../img/index/md/cat-desktop_md.jpg);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 50%;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 50%;
      background-color: $basic_green-alfa;
    }
  }
}

.main-header_inner {
  min-height: 65px;
  grid-template-rows: auto;
  background-image: none;

  @media (min-width: 1440px) {
    position: relative;
    height: auto;
  }

  &::before {

    @media (min-width: 1440px) {
      content: "";
      display: none;
    }
  }
}
