.main-nav {
  position: relative;
  width: 100%;
  min-height: 60px;
  background-color: transparent;

  @media (min-width: 521px) and (max-width: 699px) {
    border-bottom: 1px solid $basic-light-grey;
  }

  @media (min-width: 700px) {
    display: flex;
    justify-content: flex-end;
  }
}

@media (max-width: 699px) {

  .main-nav_closed .main-nav__button::before {
  content: "";
  position: absolute;
  top: 10px;
  width: 24px;
  height: 2px;
  background-color: $basic_black;
  box-shadow: 0 8px 0 0 $basic_black, 0 16px 0 0 $basic_black;
}

  .main-nav__button {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 0;
    right: 0;
    width: 100px;
    height: 47px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    z-index: 4;
  }

  .main-nav_opened .main-nav__button {

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 16px;
      width: 24px;
      height: 2px;
      background-color: $basic_black;
    }

    &::before {
      transform: rotate(45deg);
      box-shadow: none;
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
  .main-nav__wrapper {
    position: relative;
    width: 100%;
  }

  .main-nav_nojs .main-nav__wrapper {
    position: absolute;
    top: 0;
  }

  .main-nav_closed li {
    display: none;
  }

  .main-nav_nojs .li {
    display: block;

  }
}

@media (max-width: $sm-tablet-width) {

  .main-nav__wrapper {
    padding-top: 55px;
  }
}

@media (min-width: 521px) and (max-width: 699px) {

  .main-nav__wrapper {
    padding-top: 75px;
  }

  .main-nav_closed .main-nav__button::before {
    top: 20px;
  }

  .main-nav_opened .main-nav__button {

    &::before,
    &::after {
      top: 29px;
    }
  }
}

@media (min-width: 700px) {

  .main-nav__button {
    display: none;
  }

}
