.more-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.more-cards__item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;

  @media (min-width: 350px) {
    max-width: 310px;
    padding: 38px 68px;
    border: 2px solid $basic-light-grey-3;
  }
}

.more-cards__caption {
  order: 2;
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    @include margin-h-reset;
    text-align: center;

    @media (min-width: 350px) {
      width: 170px;
      font-size: 16px;
      line-height: 18px;
    }
  }
}

.more-cards__button {
  position: relative;
  display: flex;
  justify-content: center;
  order: 1;
  @include reset-btn;

  @media (max-width: 349px) {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  &:hover,
  &:focus {
    background-color: transparent;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: $special_grey;
  }

  &::after {
    transform: rotate(90deg);
  }

  &:hover::before,
  &:focus::before,
  &:hover::after,
  &:focus::after {
    background-color: $basic_green;
  }

  &:active::before,
  &:active::after {
    background-color: $special_grey;
    opacity: 0.3;
  }

  @media (min-width: 350px) {
    margin-top: 49px;
    margin-bottom: 49px;

    &::before,
    &::after {
      width: 60px;
    }
  }
}
