.product-data {
  display: flex;
  flex-wrap: wrap;
  order: 2;

  @media (max-width: $mobile-width) {
    width: 139px;
    padding-bottom: 22px;
  }

  @media (max-width: 349px) {
    width: 131px;
    padding-bottom: 22px;
  }

  @media (min-width: 350px) {
    justify-content: center;
    width: 252px;
    padding-bottom: 33px;
  }
}

.product-data__tbody {

  @media (min-width: 350px) {
    font-size: 16px;
    line-height: 16px;
  }

  tr {
    display: flex;
    justify-content: space-between;

    @media (max-width: $mobile-width) {
      width: 135px;
    }

    @media (max-width: 349px) {
      width: 128px;
    }

    @media (min-width: 350px) {
      width: 250px;
      border-bottom: 1px solid $special_grey;
    }
  }

  td {
    width: 40%;
    align-self: center;

    &:last-child {
      text-align: right;
    }

    @media (min-width: 350px) {
      padding-top: 7px;
      padding-bottom: 9px;
    }
  }
}
