.section-headline {
  @include margin-h-reset;
  @include font-family-headline;
  font-size: $f-size-level1;
  line-height: 36px;
  font-weight: 400;
  color: $basic_black;

  @media (min-width: $tablet-width) {
    grid-area: 1/ 2 span;
    font-size: 60px;
    line-height: 60px;
  }
}

.section-headline_cat-weight-theme {

  @media (max-width: $mobile-width-only) {
    @include padding-min;
    margin-top: 27px;
    margin-bottom: 33px;
  }

  @media (min-width: 321px) and (max-width: $sm-tablet-width) {
    @include padding-s;
  }

  @media (min-width: 521px) and (max-width: $mobile-width-only) {
    @include padding-sm;
    font-size: 45px;
    line-height: 45px;
    margin-top: 47px;
    margin-bottom: 48px;
  }

  @media (min-width: 700px) and (max-width: $mobile-width-only) {
    @include padding-sm;
  }

  @media (min-width: $tablet-width) {
    @include padding-sm;
    margin-top: 43px;
    margin-bottom: 63px;
  }

  @media (min-width: 820px) {
    @include padding-m-l;
  }

  @media (min-width: $sm-desktop-width) {
    grid-area: 1/1/1/1;
    @include padding-l;
    align-self: flex-end;
  }

  @media (min-width: $desktop-width) {
    @include padding-l;
    margin-bottom: 76px;
  }

  @media (min-width: 1300px) {
    @include padding-l-lg;
  }

  @media (min-width: $xl-width) {
    @include padding-lg;
  }
}

.section-headline_features-theme {

  @include padding-min;

  @media (max-width: $mobile-width-only) {
    margin-top: 27px;
    margin-bottom: 38px;
  }

  @media (min-width: 321px) and (max-width: $sm-tablet-width) {
    @include padding-s;
  }

  @media (min-width: 521px) and (max-width: 699px) {
    margin-top: 47px;
    margin-bottom: 48px;
    @include padding-sm;
    font-size: 45px;
    line-height: 45px;
  }

  @media (min-width: 700px) and (max-width: $mobile-width-only) {
    margin-top: 47px;
    margin-bottom: 48px;
    @include padding-sm;
    font-size: 45px;
    line-height: 45px;
  }

  @media (min-width: $tablet-width) {
    margin-top: 45px;
    margin-bottom: 32px;
    @include padding-sm;
  }

  @media (min-width: 820px) {
    @include padding-m-l;
  }

  @media (min-width: $sm-desktop-width) {
    margin-top: 60px;
    margin-bottom: 32px;
    @include padding-l;
  }

  @media (min-width: $desktop-width) {
    margin-top: 71px;
    margin-bottom: 42px;
    @include padding-l;
  }

  @media (min-width: 1300px) {
    @include padding-l-lg;
  }

  @media (min-width: $xl-width) {
    @include padding-lg;
  }
}

.section-headline_additives-theme {
    @include margin-h-reset;
    position: relative;
    display: flex;
    padding-left: 20px;
    justify-content: flex-end;
    align-items: flex-start;
    font-size: 24px;
    line-height: 24px;

    &::after {
      content: "";
      width: 15%;
      height: 2px;
      margin-top: 14px;
      margin-left: 25px;
      background-color: $basic_green;
    }

 @media (min-width: 350px) {
    font-size: 30px;
    line-height: 30px;

    &::after {
      width: 12%;
      margin-top: 17px;
      margin-left: 5px;
    }
  }

  @media (min-width: $sm-tablet-width) {

    &::before {
      width: 9%;
      margin-right: 15px;
    }

    &::after {
      width: 40%;
      margin-left: 14px;
    }
  }

  @media (min-width: 700px) {
    margin-bottom: 68px;
    padding-left: 0;

    &::before {
      content: "";
      width: 14%;
      height: 2px;
      margin-top: 14px;
      margin-right: 25px;
      background-color: $basic_green;
    }
  }

  @media (min-width: $tablet-width) {

    &::before {
      width: 6%;
      margin-right: 13px;
    }

    &::after {
      width: 53%;
      margin-left: 20px;
    }
  }

  @media (min-width: 820px) {

    &::before {
      width: 9%;
      margin-right: 8px;
    }
  }

  @media (min-width: $sm-desktop-width) {
    position: relative;
    margin-bottom: 80px;
    padding-left: 67px;
    padding-left: 0;
    padding-right: 0;
    font-size: 36px;
    line-height: 36px;

    &::before {
      width: 4%;
      margin-top: 22px;
      margin-right: 19px;
    }

    &::after {
      width: 61%;
      margin-top: 22px;
      margin-left: 28px;
    }
  }

  @media (min-width: $desktop-width) {

    &::before {
      width: 3%;
      margin-right: 28px;
    }

    &::after {
      width: 63%;
      margin-left: 42px;
    }
  }

  @media (min-width: 1300px) {

    &::before {
      width: 4%;
      margin-right: 52px;
    }

    &::after {
      width: 62%;
      margin-left: 52px;
    }
  }

  @media (min-width: $xl-width) {

    &::before {
      margin-right: 49px;
    }

    &::after {
      width: 66%;
      margin-left: 45px;
    }
  }
}
