.social-link svg {
  fill: $special_dark-grey-2;

  &:hover,
  &:focus {
    fill: $basic_green;
  }

  &:active {
    fill: $special_dark-grey-2;
    opacity: 0.3;
  }
}

@media (min-width: 700px) {

  .social-link_vkontakte {
    svg {
      width: 30px;
      height: 22px;
    }
  }

  .social-link_instagram {
    svg {
      width: 23px;
      height: 23px;
    }
  }

  .social-link_facebook {
    svg {
      width: 13px;
      height: 27px;
    }
  }
}
