img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1, h2, h3 {
  @include margin-h-reset;
  @include font-family-headline;
  font-weight: 400;
}

h1, h2 {
  font-size: $f-size-level1;
  color: $basic_black;
  line-height: 36px;
}

h3 {
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: $basic_black;
}

.container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  @include centration;
  z-index: 3;

  @media (max-width: $mobile-width) {
    width: $mobile-width;
  }

  @media (min-width: $sm-desktop-width) {
    width: $sm-desktop-width;
  }
}

.cell {

  @media (max-width: $mobile-width) {
    @include padding-min;
  }

  @media (min-width: $sm-desktop-width) {
    @include padding-sm;
  }
}

@media (max-width: $mobile-width) {

  .cell_logo-theme {
    grid-area: 1 / 1 / 1 / 1;
    background-color: $basic_white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .cell_logo-theme-inner {
    border-bottom: 1px solid $basic-light-grey;
  }

  .cell_menu-theme {
    grid-area: 2/1/2/1;
    display: flex;
    padding-left: 0;
    padding-right: 0;
    flex-direction: column;
    align-items: center;
  }

  .cell_menu-theme-inner {

    li.menu-list__item:first-child a {
      border-top: none;
    }

  }

  .cell_intro-theme {
    grid-area: 2/1/2/1;
  }

  .cell_inner-first {
    margin-top: 27px;
    margin-bottom: 27px;

    h1 {
      @include margin-h-reset;
    }
  }

  .cell_address-card {
    display: grid;
    grid-template-columns: 38% 50%;
    column-gap: 25px;
    align-items: center;
  }

  .division-headline_product-name {
    @include margin-h-reset;
    width: 94px;
    margin-top: 19px;
    margin-bottom: 18px;
    font-size: 16px;
    line-height: 20px;
    text-align: left;
  }

  .section-headline_additives-theme {
    @include margin-h-reset;
    position: relative;
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 0;
    padding-bottom: 36px;
    font-size: 24px;
    line-height: 24px;

    &::after {
      content: "";
      position: absolute;
      top: 40px;
      right: 0;
      width: 53px;
      height: 2px;
      background-color: $basic_green;
    }
  }
}

@media (min-width: $sm-desktop-width) {

  .section-headline_additives-theme {
    position: relative;
    padding-left: 67px;
    padding-right: 0;
    font-size: 36px;
    line-height: 36px;

    &::before {
      content: "";
      position: absolute;
      top: 20px;
      left: 0;
      width: 50px;
      height: 2px;
      background-color: $basic_green;
    }

    &::after {
      content: "";
      position: absolute;
      top: 20px;
      right: 0;
      width: 500px;
      height: 2px;
      background-color: $basic_green;
    }
  }
}


.division-headline_product-name a {
  @include link-style;
  color: $basic_black-2;
}

.container_additives-theme {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  padding-bottom: 41px;

  @media (min-width: $sm-desktop-width) {
    grid-template-columns: 70% 25%;
    grid-template-rows: auto;
  }

}
