.product-type-list {
  @include reset-list;
  display: grid;

  @media (max-width: $tablet-width) {
    grid-column: (1fr, repeat);
    margin-top: 22px;
    row-gap: 20px;
  }

}
.product-type-list__item {
  @include padding-min;
}

.division-headline_product-type {
  grid-area: 1/2;
  width: 90%;
  margin-top: 30px;
  margin-bottom: 29px;
  text-align: left;
}
