$special_dark-grey: #444444;
$special_dark-grey-2: #666666;
$special_dark-grey-3: #EBEBEB;
$special_grey: #CDCDCD;
$special_light-grey: #E7E7E7;
$special_light-grey-2: #BABABA;
$basic_black: #000000;
$basic_black-2: #222222;
$basic_white: #ffffff;
$basic_white-alfa: rgba(255, 255, 255, 0.3);
$basic_green: #68B738;
$basic_green-2: rgb(94, 170, 47);
$basic_green-alfa: rgba(104, 183, 56, 0.85);
$basic-light-grey: #E6E6E6;
$basic-light-grey-2: #EAEAEA;
$basic-light-grey-3: #F2F2F2;
$basic-grey: #F2F2F2;
$basic-dark-grey: #D9D9D9;
$f-size-level1: 36px;
$mobile-width: 320px;
$mobile-width-only: 767px;
$tablet-width: 768px;
$sm-desktop-width: 993px;
$desktop-width: 1200px;
$xl-width: 1400px;

@mixin padding-min {
  padding-left: 20px;
  padding-right: 20px;
}

@mixin padding-sm {
  padding-left: 50px;
  padding-right: 50px;
}

@mixin margin-h-reset {
  margin-top: 0;
  margin-bottom: 0;
}

@mixin centration {
  margin-left: auto;
  margin-right: auto;
}

@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin reset-btn {
  background-color: transparent;
  border: none;
  border-radius: none;
}

@mixin link-style {
  color: $basic_black;
  text-decoration: none;
  outline: transparent;
}

@mixin font-family-headline {
  font-family: "Oswald", Arial, sans-serif;
}

@mixin call-to-action-btn {
  margin-left: auto;
  margin-right: auto;
  padding: 8px 10px;
  text-align: center;
  font-family: "Oswald", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: $basic_white;
  background-color: $basic_green;
  border: none;

  &:hover,
  &:focus {
    background-color: $basic_green-2;
  }

  &:active {
    color: $basic_white-alfa;
    background-color: $basic_green-2;
  }
}
